<li><%= link_to "form 1: Basic html form",  {:action => 'form1'} %></li>
<li><%= link_to "form 2: Form with array",  {:action => 'form2'} %></li>
<li><%= link_to "form 3: Form with hash",   {:action => 'form3'} %></li>
<li><%= link_to "form 4: Checkbox gotcha",  {:action => 'form4'} %></li>
<li><%= link_to "form 5: Basic Rails form", {:action => 'form5'} %></li>
<li><%= link_to "form 6: Rails form_for form",  {:action => 'form6'} %></li>
<li><%= link_to "form 7: Advanced form_for",    {:action => 'form7'} %></li>
<li><%= link_to "form 8: Nested form",          {:action => 'form8'} %></li>
<li><%= link_to "form 9: Nested form for existing record", {:action => 'form9'} %></li>